.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.fa-video-camera {
  margin-right: 10px;
}

.info-text {
  text-align: center;
}

.back-btn {
  display: block;
  margin: 0 auto;
}

mat-nav-list {
  display: block;
  margin: 0 auto;
}
